<div class="container mt-4">
  <ul class="list-group">
    <% @drill_groups.each do |drill_group| %>
      <a href="<%=drill_group_path(drill_group)%>" 
         class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <%= drill_group.title %>
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    <% end %>
  </ul>
</div>