
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4"><%=@drill_group.title%></h1>
    <p class="lead"><%=@drill_group.description%></p>
    <p class="lead"><%=@drill_group.difficulty%></p>
    <hr class="my-4">
  </div>
</div>