<div class="container mt-4">    
  <table class="table table-hover table-striped table-dark specifictd" style="overflow-x:auto;">
    <thead>
      <tr>
        <% User.column_names.each do |column| %>
          <% if column != "password_digest" && column != "is_approve" && column != "updated_at" %>
            <th scope="col"><%= column %></th>
          <% end %>
        <% end %>
        <th scope="col">is_approve?</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <% User.column_names.each do |column| %>
            <% if column != "password_digest" && column != "is_approve" && column != "updated_at" %>
              <th scope="col"><%= user[column] %></th>
            <% end %>
          <% end %>
          
          <th scrop="col">
            <a class="btn " style="border-radius:2em; box-shadow: none; border:0;" href="<%=update_approved_user_path(user.id)%>" role="button">
            <% if user.is_approved? %>
              <i class="material-icons" style="font-size:5vw; color:green;">
                check_circle
              </i> 
            <% else %>
              <i class="material-icons" style="font-size:5vw; color:red;">
                check_circle
              </i>
              <% end %>
            </a>
          </th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
