<%= stylesheet_link_tag 'leaderboard' %>

<div class="pagecontainer mk parallax">
<h1 class="title">
  HIGH SCORES
</h1>
  <% @leaders.each do |stats| %>
 <div class="entry">
  User <%= stats.email %><br/>has the score of
  <%= stats.score %> points.
  </div>
  <% end %>

</div>

