
<div class="container mt-4">
  <h1>New Drill</h1>
  <%= simple_form_for [@drill_group, @drill], :from => { class: 'input-group' }  do |f| %>
    <div class="form-group">
      <div class="floating-label">
        <%= f.input :title, input_html: { class: 'form-control' },  required: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="floating-label">
        <%= f.input :description, input_html: { class: 'form-control' },  required: true %>
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Create">
  <% end %>
</div>