<h1><%= @drill.title %></h1>

<p><%= @drill.description %></p>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="checkbox100" checked="checked">
    <label class="form-check-label" for="checkbox100">Classic checkbox</label>
</div>

<div class="form-check">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox101" checked="checked">
    <label class="form-check-label" for="checkbox101">Filled-in checkbox</label>
</div>




