body,
html {
  height: 100%;
}

.mk {
  color: red;
  font-family: "mortalkombat2";
}

.parallax {
  background-image: url("mk.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pagecontainer {
  height: auto;
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
}

.title {
  font-size: 5vw;
  padding: 2vh 0 4vh 0;
}

.entry {
  font-size: 3vw;
  padding: 2vh;
}
