body,
html {
  height: 100%;
}

.parallax {
  background-image: url("Conquestbg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin: 6vh 0 8vh 0;
  text-align: center;
  font-size: 9vw;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.pagecontainer {
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.buttons {
  margin: 8rem 0rem 10rem 0rem;
  display: flex;
  font-size: 5vw;
  justify-content: space-around;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.white {
  color: whitesmoke;
}
